@import "tailwindcss";

@layer base {
  body {
    @apply bg-[#f8fafc] text-slate-900 antialiased;
  }
}

.glass {
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: #6366f1;
  border-radius: 10px;
}